.drawingCanvas {
    width: 420px;
    height: 420px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    float: none;
    background-color: #fff;
}