.leftSlidingPane {
    background-color: #141C1E;
    color: #fff;
    padding: 12px;

    .slide-pane__header {
        background-color: #141C1E;
    }

    .slide-pane__content {
        padding: 0px 6px;
    }

    .slide-pane__close {
        margin-left: 0px;
        padding: 10px 5px;
    }
}

.slide-pane_from_left.ReactModal__Content--after-open {
    transform: translateX(60px);
}

.close_slider_button {
    background: #1e3030;
    width: 15px;
    height: 60px;
    color: #fff;
    font-weight: 700;
    margin-top: calc(25% - 60px);
    transform: translateY(-50%);
    margin-left: 60px;
    padding: 18px 1px;
    border-radius: 0px 6px 6px 0;
}